<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weekly | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form action='/login' method='POST'>
    <label for="username">Username</label><input 
      type="text" 
      name="username"
      id="js-username" 
      placeholder="Enter username">
    <label for="password">Password</label> <input 
      type="password" 
      name="password"
      id="js-password" 
      placeholder="Enter password">
    <input type="submit" id="js-login">
  </form>
  Need an account? <a href='/signup'>Sign Up</a>

  <!-- Jquery API -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Custom Controller -->
  <script src='../app/controllers/login.js'></script>
</body>
</html>