html {
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "Work Sans", sans-serif;
  margin: 0;
  height: 100%;
}

.hidden {
  display: none !important;
}

.fa-2x {
  font-size: 0.8rem !important;
}

button:focus {
  border: none;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.js-task-item,
.js-event {
  /* margin: 10px; */
}

/* Utilizing Hover CSS3 from https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.hvr-icon-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-fade .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.hvr-icon-add-fade:hover {
  color: darkslategray;
}

.hvr-icon-fade:hover .hvr-icon,
.hvr-icon-fade:focus .hvr-icon,
.hvr-icon-fade:active .hvr-icon {
  color: white;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: darkslategray !important;
  color: white;
}

.hvr-fade-event {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade-event:hover,
.hvr-fade-event:focus,
.hvr-fade-event:active {
  background-color: darkslategray !important;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

/* HEADER STYLING */

.header {
  text-align: center;
}

h1 {
  margin-bottom: -25px;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

h2 {
  font-size: 1.2rem;
}

.planner-title {
  margin: 0;
  text-align: center;
  letter-spacing: 3px;
}

/* GENERAL FORM STYLING */

#js-login-form,
#js-signup-form {
  background-color: rgba(255, 255, 255, 25%);
  height: 100%;
  padding: 15px;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 32px;
  margin: 20px;
}

/* login form */
#js-login-form label {
  font-size: 0.8rem;
}

#js-login-form input {
  margin: 5px;
  width: 200px;
  height: 30px;
  font-size: 0.8rem;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

#js-login-form input[type="submit"] {
  width: 200px;
  background-color: cornsilk;
  border: 0px;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 30px;
}

/* sign up form */
#js-signup-form label {
  font-size: 0.8rem;
}

#js-signup-form input {
  margin: 5px;
  width: 200px;
  height: 30px;
  font-size: 0.8rem;
}

#js-signup-form input[type="submit"] {
  width: 200px;
  background-color: cornsilk;
  border: 0px;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
}

/* PLANNER STYLING */

.after-planner {
  position: fixed;
  top: 0;
  width: 100%;
}

#planner {
  background-color: rgb(234, 241, 229);
  margin-top: 185px;
  height: 550px;
  overflow: scroll;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
}

/* sign out link */
#js-user-signout {
  position: absolute;
  right: 10px;
  top: 15px;
  height: 30px;
  background-color: cornsilk;
  padding: 3px 3px;
  border-radius: 5px;
}

/* create new event or task button */
.create-event-or-task {
  position: absolute;
  right: 20px;
  z-index: 1;
}

#js-create {
  background: transparent;
  border: none;
  position: fixed;
  right: 20px;
}

#js-create-new-event,
#js-create-new-task {
  height: 30px;
  width: 60px;
  text-align: center;
  border: none;
  background: cornsilk;
  font-family: "Work Sans", sans-serif;
  border-radius: 5px;
  font-size: 0.8rem;
  border: 1px darkslategray solid;
}

#js-create-new-event {
  position: relative;
  left: 70px;
  top: 47px;
}

#js-create-new-task {
  position: relative;
  top: 85px;
  left: 3px;
}

/* create new event form , new task form*/
#new-event-form,
#new-task {
  width: 200px;
  background-color: darkslategray;
  color: cornsilk;
  border-radius: 5px;
  padding: 3px;
  font-size: 0.8rem;
  text-align: right;
}

#new-event-form fieldset,
#new-task fieldset {
  border: none;
}

#new-event-form input,
#new-event-form select,
#new-task #js-task-title,
#new-task #js-task-notes {
  border: none;
  padding: 4px;
  font-size: 0.65rem;
  border-radius: 5px;
  height: 30px;
  margin: 3px;
  width: 100px;
  font-family: "Work Sans", sans-serif;
}

#js-btn-create-event,
#js-btn-create-task,
#js-cancel-create-event,
#js-cancel-create-task {
  width: 110px !important;
  height: 30px;
  font-family: "Work Sans", sans-serif;
  background-color: cornsilk;
  border: none;
  border-radius: 5px;
  font-size: 0.65rem;
  margin: 3px;
}

#js-task-priority {
  width: 25px;
  margin: 3px;
  height: 25px;
}

/* calendar */

#calendar {
  border-right: 1px solid darkslategray;
  height: 100%;
}

#calendar ul {
  margin-bottom: 0px;
}

#calendar ul li {
  list-style: none;
  margin-left: -40px;
  font-size: 0.9rem;
}

#calendar p,
#tasks p {
  font-size: 1.2rem;
  margin-bottom: -20px;
  margin-top: 0;
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 2px;
}

#calendar button {
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.update-event {
  margin-left: 15px;
}

/* edit event form */
#edit-js-event-form,
.edit-js-task-form {
  border: 1px solid rgb(47, 79, 79, 25%);
  padding: 10px;
  border-radius: 5px;
}

#edit-js-event-form input,
.edit-js-task-form input {
  background-color: white;
  border: none;
  height: 30px;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
  font-family: "Work Sans", sans-serif;
}

#event-update-field,
#task-update-field {
  background-color: cornsilk;
  border: none;
  width: 65px;
  height: 30px;
  font-family: "Work Sans", sans-serif;
  padding: 3px;
  border-radius: 5px;
}

#js-text-update-event,
#js-text-update-task {
  width: 160px;
  font-family: "Work Sans", sans-serif;
}

#js-btn-update-event,
#js-btn-update-task {
  background-color: cornsilk !important;
  width: 60px;
}

#js-cancel-update-event,
#js-cancel-update-task {
  background-color: cornsilk !important;
  height: 30px;
  padding: 5px !important;
  border-radius: 5px !important;
  font-family: "Work Sans", sans-serif;
  width: 60px;
}

/* to-do list */

#tasks ul li {
  list-style: none;
  margin-left: -40px;
  font-size: 0.9rem;
}

#tasks button {
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.complete-on {
  font-style: italic;
  text-decoration: line-through;
}

.priority-on {
  font-style: bold;
  color: green;
}
