html { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Work Sans', sans-serif;
  margin: 0;
  height: 100%;
}

.hidden {
  display: none
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkslategray;
}

/* HEADER STYLING */

.header {
  text-align: center;
}

h1 {
  margin-bottom: -25px;
  font-family: 'Lilita One', cursive;
  font-size: 3rem;
}

h2 {
  font-size: 1.2rem;
}

/* GENERAL FORM STYLING */

#js-login-form, #js-signup-form {
  background-color: rgba(255, 255, 255, 25%);
  height: 100%;
  padding: 15px;
  font-size: .7rem;
  text-align: center;
  border-radius: 32px;
  margin: 20px;
}

/* login form */
#js-login-form label {
  font-size: .8rem;
}

#js-login-form input {
  margin: 5px;
  width: 200px;
  height: 30px;
  font-size: .8rem;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

#js-login-form input[type="submit"] {
  width: 200px;
  background-color: cornsilk;
  border: 0px;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 30px;
}

/* sign up form */
#js-signup-form label {
  font-size: .8rem;
}

#js-signup-form input {
  margin: 5px;
  width: 200px;
  height: 30px;
  font-size: .8rem;
}

#js-signup-form input[type="submit"] {
  width: 200px;
  background-color: cornsilk;
  border: 0px;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px
}

/* PLANNER STYLING */

.after-planner {
  position: fixed;
  top: 0;
  width: 100%;
}

#planner {
  background-color: rgb(234, 241, 229);
  margin-top: 170px;
  height: 550px;
  overflow: scroll;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
 }

 /* sign out linke */
 #js-user-signout {
  position: absolute;
  right: 20px;
  top: 15px;
 }

 /* calendar */

#calendar ul {
  margin-bottom: 0px;
}

#calendar ul li {
 list-style: none;
 margin-left: -40px;
}

#calendar p {
  font-size: 1.25rem;
  margin-bottom: -20px;
  margin-top: 10px;
  font-family: 'Lilita One', cursive;
}

#calendar button {
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

/* edit event form */
#edit-js-event-form {
  border: 1px solid rgb(47, 79, 79, 25%);
  padding: 10px;
  border-radius: 5px;
}

#edit-js-event-form input {
  background-color: white;
  border: none;
  height: 30px;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
  font-family: 'Work Sans', sans-serif;
}

#event-update-field {
  background-color: cornsilk;
  border: none;
  width: 65px;
  height: 30px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px;
  border-radius: 5px
}

#js-text-update-event {
  width: 240px;
  font-family: 'Work Sans', sans-serif;
}

#js-btn-update-event {
  background-color: cornsilk !important;
  width: 60px
}

#js-cancel-update-event {
  background-color: cornsilk !important;
  height: 30px;
  padding: 5px !important;
  border-radius: 5px !important;
  font-family: 'Work Sans', sans-serif;
  width: 60px
}

/* to-do list */

#tasks ul li {
  list-style: none;
  margin-left: -40px;
}

.complete-on {
  background-color: grey;
  font-style: italic;
  text-decoration: line-through;
}

.priority-on {
  font-style: bold;
  color: green;
}